<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="{{ site.baseurl }}/fav.png">
	<!-- Site Title -->
    <title>{{ page.title }} | {{site.name}}</title>
    
    {% seo %}

	<link href="//fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,900" rel="stylesheet">
    
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/linearicons.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/magnific-popup.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/nice-select.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/animate.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/owl.carousel.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
</head>

<body>

	<!-- Start Preloader Area -->
	<div class="preloader-area">
		<div class="loader-box">
			<div class="loader"></div>
		</div>
	</div>
	<!-- End Preloader Area -->


	<!-- Start Header Area -->
	<header id="header">
		<div class="container main-menu">
			<div class="row align-items-center d-flex">
				<div id="logo">
					<a href="{{ site.baseurl }}"><img src="{{ site.baseurl }}/logo.png" alt="{{site.name}}" /></a>
				</div>
				<nav id="nav-menu-container">
					<ul class="nav-menu">
						<li class="">
                            {% if page.url == "/" %}
                            <a class="active" href="{{ site.baseurl }}">Home</a>
                            {% else %}
                            <a href="{{ site.baseurl }}">Home</a>
                            {% endif %}
                        </li>
						<li>
                            {% if page.url == "/about" %}
                            <a class="active" href="{{ site.baseurl }}/about">About</a>
                            {% else %}
                            <a href="{{ site.baseurl }}/about">About</a>
                            {% endif %}
                        </li>
						<li>
                            {% if page.url == "/portfolio" %}
                            <a class="active" href="{{ site.baseurl }}/portfolio">Portfolio</a>
                            {% else %}
                            <a href="{{ site.baseurl }}/portfolio">Portfolio</a>
                            {% endif %}
                        </li>
						<li class="menu-has-children"><a href="#">Pages</a>
							<ul>
                                {% for p in site.pages %}

                                    {% if p.dropdown == true %}
                                        {% if page.url == p.permalink %}
                                        <li><a class="active" href="{{ site.baseurl }}{{ p.permalink }}">{{ p.title }}</a></li>
                                        {% else %}
                                        <li><a href="{{ site.baseurl }}{{ p.permalink }}">{{ p.title }}</a></li>
                                        {% endif %}    
                                    {% endif %}

                                {% endfor %}
							</ul>
						</li>
						<li>
                            <a href="#">Blog</a>
                        </li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<!-- End Header Area -->


    {{ content }}


	<!-- Start Contact Area -->
	<section class="contact-area section-gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="contact-title">
						<h2>Contact Me</h2>
						<p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see
							some for as low as $.17 each.</p>
					</div>
				</div>
			</div>

			<div class="row mt-80">
				<div class="col-lg-4 col-md-4">
					<div class="contact-box">
						<h4>{{ site.contacts.phone }}</h4>
					</div>
				</div>
				<div class="col-lg-4 col-md-4">
					<div class="contact-box">
						<h4>{{ site.contacts.email }}</h4>
					</div>
				</div>
				<div class="col-lg-4 col-md-4">
					<div class="contact-box">
						<h4>{{ site.contacts.web }}</h4>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12 text-center">
					<a href="{{ site.hire-url }}" class="primary-btn mt-50" data-text="Hire Me">
						<span>H</span>
						<span>i</span>
						<span>r</span>
						<span>e</span>
						<span> </span>
						<span>M</span>
						<span>e</span>
					</a>
				</div>
			</div>
		</div>
	</section>
	<!-- End Contact Area -->


	<!-- start footer Area -->
	<footer class="footer-area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-12">
					<div class="footer-top flex-column">
						<div class="footer-logo">
							<a href="{{ site.baseurl }}">
								<img src="{{ site.baseurl }}/logo.png" alt="{{ site.name }}">
							</a>
							<h4>Follow Me</h4>
						</div>
						<div class="footer-social">
                            {% for social in site.socials %}
							    <a href="{{ social.url }}"><i class="fa fa-{{ social.name }}"></i></a>
                            {% endfor %}
						</div>
					</div>
				</div>
			</div>
			<div class="row footer-bottom justify-content-center">
				<p class="col-lg-8 col-sm-12 footer-text">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i></a>
                </p>
			</div>
		</div>
	</footer>
	<!-- End footer Area -->

	<!-- ####################### Start Scroll to Top Area ####################### -->
	<div id="back-top">
		<a title="Go to Top" href="#">
			<i class="lnr lnr-arrow-up"></i>
		</a>
	</div>
	<!-- ####################### End Scroll to Top Area ####################### -->

	<script src="{{ site.baseurl }}/assets/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	 crossorigin="anonymous"></script>
	<script src="{{ site.baseurl }}/assets/js/vendor/bootstrap.min.js"></script>
	<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
	<script src="{{ site.baseurl }}/assets/js/easing.min.js"></script>
	<script src="{{ site.baseurl }}/assets/js/hoverIntent.js"></script>
	<script src="{{ site.baseurl }}/assets/js/superfish.min.js"></script>
	<script src="{{ site.baseurl }}/assets/js/mn-accordion.js"></script>
	<script src="{{ site.baseurl }}/assets/js/jquery.ajaxchimp.min.js"></script>
	<script src="{{ site.baseurl }}/assets/js/jquery.magnific-popup.min.js"></script>
	<script src="{{ site.baseurl }}/assets/js/owl.carousel.min.js"></script>
	<script src="{{ site.baseurl }}/assets/js/jquery.nice-select.min.js"></script>
	<script src="{{ site.baseurl }}/assets/js/isotope.pkgd.min.js"></script>
	<script src="{{ site.baseurl }}/assets/js/jquery.circlechart.js"></script>
	<script src="{{ site.baseurl }}/assets/js/mail-script.js"></script>
	<script src="{{ site.baseurl }}/assets/js/wow.min.js"></script>
	<script src="{{ site.baseurl }}/assets/js/main.js"></script>
</body>

</html>