---
layout: default
---

<section class="banner-area relative">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    {{ page.title }}
                </h1>
                <p class="link-nav">
                    <span class="box">
                        <a href="{{ site.baseurl | absolute_url }}">Home </a>
                        <a href="{{ site.baseurl }}/portfolio">Portfolio</a>
                        <a href="{{ site.baseurl }}{{ page.permalink }}">{{ page.title }}</a>
                    </span>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="portfolio_details_area section-gap">
    <div class="container">
        <div class="portfolio_details_inner">
            <div class="row">
                <div class="col-md-6">
                    <div class="left_img">
                        <img class="img-fluid" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ page.image | absolute_url }}{% endif %}" alt="{{ page.title }}">
                    </div>
                </div>
                <div class="offset-md-1 col-md-5">
                    <div class="portfolio_right_text mt-30">
                        <h4>{{ page.title }}</h4>
                        <ul class="list">
                            <li>
                                <span>Rating</span>: 
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </li>
                            <li><span>Client</span>: {{ page.client }}</li>
                            <li><span>Link</span>: {{ page.link }}</li>
                            <li><span>Completed</span>: {{ page.completed }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <article>
                {{ content }}
            </article>
        </div>
    </div>
</section>